:root {
  --color-primary: #101010;
  --color-secondary: #181818;
  --color-hint: rgb(21, 91, 172);
  --color-overlay: rgba(0, 0, 0, 0.24);
  --color-divider: rgba(255, 255, 255, 0.12);

  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-hint: rgb(21, 91, 172);
}
