.a-text {
  &--primary {
    color: var(--text-primary);
  }
  &--secondary {
    color: var(--text-secondary);
  }
  &--hint {
    color: var(--text-hint);
  }
  &--small {
    font-size: 0.875rem;
  }
  &--medium {
    font-size: 1rem;
  }
  &--small {
    font-size: 1.125rem;
  }
}
